{% extends 'base.html.twig' %}

{% block cover %} {% endblock %}


{% block main_container %}

<section id="cart_items">
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li><a href="{{path('home')}}">Home</a></li>
            <li class="active">Votre panier</li>
        </ol>
    </div>


    {% if cart is not empty %}

        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Produit</td>
                        <td class="description"></td>
                        <td class="price" style="width: 100px">Prix</td>
                        <td class="total" style="width: 120px">Total</td>
                    </tr>
                </thead>
                <tbody>
                
                    {% for key,item in cart %}

                        {% if key != "total" %}

                            <tr class="productLine-{{ key}}">
                                <td class="" rowspan="2">
                                    <img src="{{ item.product.firstPhotoUrl }}" alt="{{ item.product.firstPhotoAlt }}" style="width: 100px">
                                </td>
                                <td class="cart_description" style="padding-left: 40px">
                                    <a href="{{path('showProduct', {'slug' : item.product.slug})}}">
                                        <h4>{{ item.product.name}}</h4>
                                        <p>{{ item.product.description }}</p>
                                        {{item.product.reference }}
                                    </a>
                                </td>
                                <td class="cart_price" style="text-align: right">
                                    <p><span id="showProductUnitPrice-{{key}}">{{item.product.price}}</span> €</p>
                                </td>
                                <td class="cart_total" style="text-align: right">
                                    <p class="cart_total_price"><span id="showProductTotalPrice-{{key}}">{{item.product.price * item.quantity }}</span> €</p>
                                </td>
                            </tr>

                            <tr class="productLine-{{ key}}">
                                <td colspan="3">
                                    <div class="cart_quantity_button">
                                        <a  data-url = "{{ path('removeFromCart', {'productId' : key})}}"
                                            data-productId="{{ key }}" 
                                            class="cart_quantity_down removeFromCart" href="#"> - </a>

                                        <input class="cart_quantity_input" type="text" name="quantity" value="{{ item.quantity }}" id="inputQuantityProduct-{{ key}}" autocomplete="off" size="2">
                                        
                                        <a  data-url = "{{ path('addToCart', {'productId' : key})}}"
                                            data-productId="{{ key }}" 
                                            class="cart_quantity_up addToCart" href="#"> + </a>
                                    </div>

                                    <div class="cart_delete" style="float: right; margin-right: 20px">
                                        <a data-productId="{{ key }}" class="cart_quantity_delete" href="" title="Retirer du panier"><i class="fa fa-times"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}

                    <thead>
                        <tr>
                            <td/>
                            <td colspan="3">
                                <p style="text-align: right">
                                    <b>TOTAL : </b>
                                    <span id="totalPrice" class="cart_total_price">
                                        <span id="totalPriceValue">{{ cart.total }}</span> €
                                    </span>
                                </p>
                            </td>
                        </tr>
                    </thead>

                </tbody>
            </table>
        </div>
    
    {% else %}

        <h2>Votre panier est vide :-(</h2>
        <br/><br/>

    {% endif %}

</section> <!--/#cart_items-->

<section id="do_action">
    <div class="heading" style="text-align: center">
        <h3>Que voulez-vous faire maintenant ?</h3>
    </div>
    <div class="row">
        <div class="col-sm-6" style="text-align: center">
            <a id="deleteCartButton" class="btn btn-default check_out" href="{{ path('deleteCart')}}" style="background-color: lightgrey">Videz votre panier</a>
        </div>
        <div class="col-sm-6" style="text-align: center;">
            <a class="btn btn-default check_out" href="">Commandez maintenant</a>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/cart.js') }}"></script>
{% endblock %}