{% extends 'base.html.twig' %}

{% block cover %} {% endblock %}

{% block main_container %}
    
    <div class="col-sm-12 padding-right">
        <div class="product-details"><!--product-details-->
            <div class="col-sm-5">
                <div class="view-product">
                    <img src="{{ product.firstPhotoUrl }}" alt="" />
                    <h3>ZOOM</h3>
                </div>
                <div id="similar-product" class="carousel slide" data-ride="carousel">
                    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active product-details-img">
                                <a href=""><img src="{{ product.firstPhotoUrl }}" width="60" alt=""></a>
                                <a href=""><img src="{{ product.firstPhotoUrl }}" width="60" alt=""></a>
                                <a href=""><img src="{{ product.firstPhotoUrl }}" width="60" alt=""></a>
                            </div>
                            <div class="item product-details-img">
                                <a href=""><img src="{{ product.firstPhotoUrl }}" width="60" alt=""></a>
                                <a href=""><img src="{{ product.firstPhotoUrl }}" width="60" alt=""></a>
                                <a href=""><img src="{{ product.firstPhotoUrl }}" width="60" alt=""></a>
                            </div>
                            <div class="item product-details-img">
                                <a href=""><img src="{{ product.firstPhotoUrl }}" width="60" alt=""></a>
                                <a href=""><img src="{{ product.firstPhotoUrl }}" width="60" alt=""></a>
                                <a href=""><img src="{{ product.firstPhotoUrl }}" width="60" alt=""></a>
                            </div>
                            
                        </div>

                        <!-- Controls -->
                        <a class="left item-control" href="#similar-product" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right item-control" href="#similar-product" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                        </a>
                </div>

            </div>
            <div class="col-sm-7">
                <div class="product-information"><!--/product-information-->
                    <img src="{{ asset('eshopper/images/product-details/new.jpg')}}" class="newarrival" alt="" />
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <img src="images/product-details/rating.png" alt="" />
                    <span>
                        <span>{{ product.price}} €</span>
                        <label>Quantité:</label>
                        <input type="text" value="1" />
                        <button type="button" class="btn btn-fefault cart">
                            <i class="fa fa-shopping-cart"></i>
                            Ajouter au panier
                        </button>
                    </span>
                    <p><b>Disponibilité:</b> {{ product.availability|trans}}</p>
                    <p><b>Condition:</b> {{product.quality|trans}}</p>
                    <p><b>Brand:</b> {{product.brand}}</p>
                    <a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>
                </div><!--/product-information-->
            </div>
        </div><!--/product-details-->


		<div class="tab-pane fade active in" id="reviews" >
            <div class="col-sm-12">
                <b>Plus d'informations :</b>
                <p>{{product.information}}</p>
                <p><b>Ecrivez un commentaire</b></p>
                
                <form action="#">
                    <span>
                        <input type="text" placeholder="Votre nom"/>
                        <input type="email" placeholder="Adresse email"/>
                    </span>
                    <textarea name="" ></textarea>
                    <b>Note: </b> {{ product.showIconRate|raw }}
                    <button type="button" class="btn btn-default pull-right">
                        Envoyez
                    </button>
                </form>
            </div>
        </div>
    </div>
        

    
{% endblock %}