<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AZMA{% endblock %}</title>

        <!-- css Eshopper -->
        <link href="{{ asset('eshopper/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('eshopper/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('eshopper/css/prettyPhoto.css') }}" rel="stylesheet">
        <link href="{{ asset('eshopper/css/price-range.css') }}" rel="stylesheet">
        <link href="{{ asset('eshopper/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('eshopper/css/main.css') }}" rel="stylesheet">
	    <link href="{{ asset('eshopper/css/responsive.css') }}" rel="stylesheet">
           
        <link rel="shortcut icon" href="{{ asset('eshopper/images/ico/favicon.ico') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('eshopper/images/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('eshopper/images/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('eshopper/images/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('eshopper/images/ico/apple-touch-icon-57-precomposed.png') }}">

        <script src="https://kit.fontawesome.com/ac9441ef7a.js" crossorigin="anonymous"></script>

        <!-- personal css -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

        <!-- Toast -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header id="header">
            {% block header %}
                {% include 'home/header.html.twig' %}
            {% endblock %}
        </header>

        <section>
		    <div class="container">
			    <div class="row">
                    <div class="col-sm-12 padding-right">
                            {% block main_container %}
                            {% endblock %}
                    </div>

                </div>
            </div>
        </section>
      
        {% block footer %}
            {% include 'home/footer.html.twig' %}
        {% endblock %}
          
        <script src="{{ asset('eshopper/js/jquery.js') }}"></script>
	    <script src="{{ asset('eshopper/js/bootstrap.min.js') }}"></script>
	    <script src="{{ asset('eshopper/js/jquery.scrollUp.min.js') }}"></script>
	    <script src="{{ asset('eshopper/js/price-range.js') }}"></script>
        <script src="{{ asset('eshopper/js/jquery.prettyPhoto.js') }}"></script>
        <script src="{{ asset('eshopper/js/main.js') }}"></script>

        <script src="{{ asset('js/main.js') }}"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
